<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>881178773039-98r8n6m0c3orvfc6j7hmhpnk1cf09qfu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881178773039-98r8n6m0c3orvfc6j7hmhpnk1cf09qfu</string>
	<key>API_KEY</key>
	<string>AIzaSyCMlZPeOcICHnRh5PtFypTiThba02AGjrg</string>
	<key>GCM_SENDER_ID</key>
	<string>881178773039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shanley.planningpoker</string>
	<key>PROJECT_ID</key>
	<string>planning-poker-6df7a</string>
	<key>STORAGE_BUCKET</key>
	<string>planning-poker-6df7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881178773039:ios:008b210e810b6c19f3a8da</string>
</dict>
</plist>